<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>FPM Банк</title>
    <link rel="icon" href="/img/coin.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<div class="container">
    <h1>FPM Банк — управление сплетнями</h1>

    <button id="addBtn">Добавить</button>
    <button id="editBtn">Редактировать</button>
    <button id="delBtn">Удалить</button>
    <button id="oneBtn">Показать по ID</button>
    <button id="reassignBtn">Перенумеровать ID</button>
    <button id="listBtn">Показать все</button>
    <button id="hideBtn">Скрыть список</button>

    <div id="out"></div>
</div>

<script type="module" src="/bundle.js"></script>

</body>
</html>
