<header class="main-header">
    <link rel="stylesheet" href="/css/style.css">
    <nav>
        <div class="logo">
            <h1>Оружейная лавка</h1>
        </div>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/catalog">Каталог</a></li>
        </ul>
    </nav>
</header>