<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>FPM Банк</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/img/coin.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<div class="container">
    <h1>FPM Банк — управление сплетнями</h1>

    <button onclick="add()">Добавить</button>
    <button onclick="edit()">Редактировать</button>
    <button onclick="del()">Удалить</button>
    <button onclick="one()">Показать по ID</button>
    <button onclick="reassign()">Перенумеровать ID</button>
    <button onclick="list()">Показать все</button>
    <button onclick="hide()">Скрыть список</button>


    <div id="out"></div>
</div>

<script type="module" src="/script.js"></script>
</body>
</html>
